
table {
    margin-top: 1em;

    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-collapse: collapse;
}

#requests td, #requests th { border: 1px solid; }

.no-requests {
    text-align: center;
}
